html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0; 
    background-color: #e5e5e5;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    font-style: italic;
    line-height: 46px;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}

.slider-wrapper {
    width: 100%;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
}

#btn-prev,
#btn-next {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    background-color: gray;
    opacity: 0.2;
    cursor: pointer;
    z-index: 10;
    transition: opacity .3s ease-in-out;
}

#btn-prev:hover,
#btn-next:hover {
    opacity: 0.5;
}

#btn-next {
    right: 10%;
}

#btn-prev {
    left: 10%;
}

.slide {
    width: 80%;
    margin: 0 auto;
    display: none;
    position: relative;
}

.slide.active {
    display: block;
}

.slide:after,
.slide:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
}

.slide:after {
    background: url(images/prev.svg) center no-repeat;
    left: 0.5%;
}

.slide:before {
    background: url(images/next.svg) center no-repeat;
    right: 0.5%;
}

img {
    display: block;
    width: 100%;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 25px auto;
}

.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    cursor: pointer;
}

.dot.active {
    background-color: rgb(68, 62, 62);
}